body{
	background-color:rgb(200,225,225);
}

.navcolor{
	background-color:rgb(80, 150, 200,1.0);
	margin-bottom: 1px;
	
}

.link-items{
	color:white !important;
	padding:20px;
	font-family:sans-serif;
	font-size: 24px;


}

#footer{
	background-color:rgb(80, 150, 200,1.0);
	height:8vh;
	display:flex;
	justify-content:center;
	align-items:center;
	margin-bottom:20px;
}

.para{
	color:white;
	font-size: 20px;
	font-weight: bold;

}